.tab-name-wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
}

.tab-name {
    height: 100%;
    font-size: 1.125rem ;
}

.tab-name:hover {
    cursor: pointer;
    color: hsl(0, 94%, 66%)
}

.divider {
    height: 0.063rem ;
    width: 70%;
    background-color: grey;
    position: relative;
}

.selected-divider {
    width: calc(100%/3);
    height: 0.313rem ;
    background-color: hsl(0, 94%, 66%);
    position: absolute;
    top: -0.313rem ;
    left: 0;
    transition: 0.2s ease-in-out;
}

.tab-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5vw;
    padding-top: 5vh;
}

.tab-content-description {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: start;
}

.tab-content-title {
    font-size: 2.2rem;
    font-weight: 500;
}

.tab-content-text {
    font-size: 1.125rem ;
    line-height: 1.5em;
    width: 83%;
}

.tab-content-btn {
    padding: 0.625rem 1.25rem ;
    border-radius: 0.313rem ;
    box-shadow: 0 0.313rem 0.313rem  hsla(231, 69%, 60%, 0.2);
    background-color: hsl(231, 69%, 60%);
    border: 0.125rem solid hsl(231, 69%, 60%);
    color: white;
}

.tab-img {
    height: 40vh;
    width: 40vw;
    object-fit: contain;
}

@media screen and (max-width: 60rem) {
    .divider {
        display: none;
    }
    .tab-name-wrapper {
        width: 100%;
        margin-bottom: 12vh;
        grid-template-columns: 1fr;
    }

    .tab-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        position: relative;
    }

    .tab-name.active::after {
        content: "";
        position: absolute;
        height: 0.313rem ;
        width: 45%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        /* left: 50%; */
        background-color: hsl(0, 94%, 66%);
    }

    .tab-name:nth-child(odd) {
        border-top: 0.063rem solid grey;
        border-bottom: 0.063rem solid grey;
    }


    .tab-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .tab-content-description {
        text-align: center;
        align-items: center;
    }

    .tab-content-title {
        font-size: 1.5rem;
    }

    .tab-content-text {
        font-size: 1rem;
        width: 100%;
    }

    .tab-img {
        width: 100%;
        height: auto;
    }
}