* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  min-height: 100vh;
}

p {
  color: hsl(229, 8%, 60%)
}

h1 {
  color: hsl(229, 31%, 21%);
}


.header {
  position: relative;
  display: flex;
  padding-left: 10vw;
  padding-right: 2vw;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

.header-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 30vh;
  background-color: hsl(231, 69%, 60%);
  border-radius: 6.25rem 0 0 6.25rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.header-title {
  font-size: 2.8rem;
  font-weight: 500;
}

.header-text {
  font-size: 1.125rem ;
  line-height: 1.5em;
}

.header-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.get-it-btn {
  font-weight: 500;
  padding: 0.938rem 1.25rem ;
  border: none;
  border-radius: 0.313rem ;
  box-shadow: 0 0.313rem 0.313rem  hsla(231, 69%, 60%, 0.2);
}

.get-it-btn.chrome {
  background-color: hsl(231, 69%, 60%);
  border: 0.125rem solid hsl(231, 69%, 60%);
  color: white;
}

.get-it-btn.firefox {
  background-color: #F7F7F7;
  border: 0.125 solid #F7F7F7;
  color: hsl(229, 31%, 21%);
}

.get-it-btn.chrome:hover {
  cursor: pointer;
  color: hsl(231, 69%, 60%);
  background-color: transparent;
  border: 0.125rem solid hsl(231, 69%, 60%)
}

.get-it-btn.firefox:hover {
  cursor: pointer;
  background-color: transparent;
  border: 0.125 solid hsl(229, 31%, 21%)
}


.tabs-section {
  padding-inline: 10vw;
  padding-block: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
}

.tabs-section-bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30vh;
  width: 40%;
  border-radius: 0 6.25rem 6.25rem  0;
  background-color: hsl(231, 69%, 60%);
}

.tabs-section-title {
  font-size: 2.2rem;
  font-weight: 500;
}

.tabs-section-text {
  font-size: 1.125rem ;
  text-align: center;
  line-height: 1.5em;
  width: 47%;
  margin-bottom: 5vh;
}

.extension-section {
  padding-inline: 10vw;
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.extension-section-title {
  font-size: 2.2rem;
  font-weight: 500;
}

.extension-section-text {
  font-size: 1.125rem ;
  text-align: center;
  line-height: 1.5em;
  width: 47%;
  margin-bottom: 5vh;
}

.faq-section {
  padding-inline: 10vw;
  padding-block: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.faq-section-title {
  font-size: 2.2rem;
  font-weight: 500;
}

.faq-section-text {
  font-size: 1.125rem ;
  text-align: center;
  line-height: 1.5em;
  width: 47%;
  margin-bottom: 5vh;
}

.faq-btn {
  margin-top: 2vh;
  padding: 0.625rem 1.25rem ;
  border-radius: 0.313rem ;
  box-shadow: 0 0.313rem 0.313rem  hsla(231, 69%, 60%, 0.2);
  background-color: hsl(231, 69%, 60%);
  border: 0.125rem solid hsl(231, 69%, 60%);
  color: white;
}

.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  padding-block: 5vh;
  background-color: hsl(231, 69%, 60%);
  color: white;
  padding-inline: 30vw;
  padding-bottom: 7vh;
}

.signup-stat {
  margin-bottom: 2vh;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 500;
  color: white;
}

.signup-title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1vh;
  font-weight: 500;
  line-height: 1.2em;
}

.signup-form {
  display: flex;
  align-items: center;
  gap: 1vw;
  width: 100%;
}

.input-wrapper {
  flex: 1;
  height: 3.75rem ;
  position: relative;
}

.email-input {
  height: 100%;
  width: 100%;
  text-indent: 1.25rem ;
  border-radius: 0.313rem ;
  border: none;
  position: relative;
}

.email-input.input-error {
  box-shadow:  0 1.875rem 0 0.313rem hsl(0, 94%, 66%), -0.313rem  -0.313rem  hsl(0, 94%, 66%), 0.313rem -0.313rem   hsl(0, 94%, 66%);
}

.email-input:focus {
  outline: none;
}

.error {
  position: relative;
  z-index: 1;
  color: white;
  margin-left: 0.625rem ;
  margin-top: 0.313rem ;
  font-style: italic;
}

.error-icon {
  position: absolute;
  top: 0.625rem ;
  right: 0.625rem ;
  color: hsl(0, 94%, 66%);
}

.submit-btn {
  font-size: 1.125rem ;
  padding: 0.625rem 1.563rem ;
  height: 3.75rem ;
  border-radius: 0.313rem ;
  background: hsl(0, 94%, 66%);
  color: white;
  font-weight: 500;
  border: 0.188rem solid hsl(0, 94%, 66%);
}

.submit-btn:hover {
  cursor: pointer;
  background-color: white;
  color: hsl(0, 94%, 66%);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  width: 100%;
  padding-inline: 10vw;
  padding-top: 5vh;
  padding-bottom: 2vh;
  background: #242946;
  color: white;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.footer-content a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer-content a:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.footer-logo {
  margin-right: 2vh;
}

.footer-logo > g > path {
  fill: white;
}

.socials {
  margin-left: auto;
  color: white;
  display: flex;
  align-items: center;
  gap: 2vw;
}
.social-icon:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

.attribution, .attribution a{
  color: white;
  text-align: center;
}

.attribution a:hover {
  cursor: pointer;
  color: hsl(0, 94%, 66%);
}

@media screen and (max-width: 60rem) {
  .header {
    display: grid;
    grid-template-columns: auto;
    padding-inline: 5vw;
  }

  .header-img {
    width: 100%;
    grid-row: 1;
    grid-column: 1;
  }

  .header-content {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    text-align: center;
  }

  .header-bg {
    bottom: 60%;
    height: 20vh;
    width: 70vw;
  }

  .header-buttons-wrapper {
    gap: 5vw;
  }

  .tabs-section {
    padding-inline: 5vw;
  }


  .tabs-section-bg {
    bottom: 25%;
    width: 80%
  }

  .tabs-section-text {
    width: 100%;
  }

  .extension-section {
    text-align: center;
    padding-inline: 5vw;
  }

  .extension-section-text {
    width: 100%;
  }

  .faq-section {
    text-align: center;
    padding-inline: 5vw;
  }

  .faq-section-text {
    font-size: 1rem;
    width: 100%;
  }

  .signup-section {
    text-align: center;
    padding-inline: 5vw;
  }

  .signup-stat {
    font-size: 0.8rem;
  }

  .signup-title {
    font-size: 1.5rem;
  }

  .signup-form {
    flex-direction: column;
    gap: 2vh;
  }

  .input-wrapper {
    width: 100%;
  }
  .email-input  {
    height: 3.75rem ;
  }

  .submit-btn {
    width: 100%;
  }

  .submit-btn.btn-error {
    margin-top: 2vh;
  }


  .footer-content {
    flex-direction: column;
  }

  .socials, .footer-logo {
    margin: 0;
  }
  .socials {
    gap: 8vw;
  }
}